<nav class=" navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" style="font-family: serif;" href="#"><img src="..\..\..\assets\images\Hafalat.png" alt="Hafalat" width="30" height="30"> Hafalat.com </a>
    <a class="navbar-brand" style="font-family: serif;" href="#">Acceuil</a>
    <button class="navbar-toggler" style="font-family: serif;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-brand dropdown">
                <a href="#home_section" class="nav-link dropdown-toggle" style="font-family: serif;" id="navbarDropdown" role="button"  >
          Nos Services
        </a>
                
            </li>
            <li class="navbar-brand ">
                <a class="navbar-brand" href="#contact-tab" style="font-family: serif;" role="button">Contact </a>
            </li>
            <li class="navbar-brand">
                <a class="navbar-brand" href="/info" style="font-family: serif;">A Propos</a>
            </li>


        </ul>

    </div>
</nav>