<app-sidebar>
    <div>
        <div class="container">
            <form (ngSubmit)="insertClientData()">
                <div class="form-group">
                    <label for="Nom">Nom</label>
                    <input type="text" class="form-control" name="Nom" aria-describedby="nomHelp" placeholder="Enter Nom" [(ngModel)]="client.Nom">
                </div>
                <div class="form-group">
                    <label for="Prenom">Prenom</label>
                    <input type="text" class="form-control" name="Prenom" aria-describedby="prenomHelp" placeholder="Enter Prenom" [(ngModel)]="client.Prenom">
                </div>
                <div class="form-group">
                    <label for="id_groupe">Telephone</label>
                    <input type="text" class="form-control" name="Telephone" aria-describedby="TelephoneHelp" placeholder="Telephone" [(ngModel)]="client.Telephone">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button></form>
            <a href="admin/clients">
                <button class="btn btn-danger btn float-right">Back</button>
            </a>
        </div>
    </div>
</app-sidebar>
