.bg-image {
    /* padding-left: 10px;
    padding-right: 10px; */
    padding: auto;
    width: 40px;
    
}
@media only screen and (max-width: 758px) {
    .bg-image{
        width: 40px;
        padding: auto;
        
    }}