<app-navbar></app-navbar>
<div class="row">
    <mat-stepper [linear]="isLinear" #stepper class="stepper">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Orchestre</ng-template>

              
                        <h2 class="sample-step-title">Choisissez l'Orchestre</h2>
                        <div class="card-wrapper">
                            <div class="row">
                                
                            <igx-card *ngFor="let card of orchestres" (click)="selectCard0(card)"
                                [ngClass]="{'selected-card': selectedCard === card}" class="pic">
                                <div class="row1" >
                                    <div class="card" >
                                <igx-card-media  >
                                    <igx-badge *ngIf="selectedCard === card" value="Votre choix actuel"></igx-badge>
                                    <img src="{{card.img}}" alt="">
                                   </igx-card-media>
                                </div>
                            </div>
                                
                                </igx-card>
                            </div>
                    </div>
                    
                <div class="col-md-12 bg-light text-right" >
                    <button mat-button matStepperNext id="next" >Suivant</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Traiteure">
            <form [formGroup]="secondFormGroup">
                
                <h2 class="sample-step-title">Choisissez le Traiteure</h2>
                        <div class="card-wrapper">
                            <div class="row">
                                
                                <igx-card *ngFor="let card of cards2" (click)="selectCard1(card)"
                                    [ngClass]="{'selected-card': selectedCard1 === card}" class="pic">
                                    <div class="row1" >
                                        <div class="card" >
                                    <igx-card-media  >
                                        <igx-badge *ngIf="selectedCard1 === card" value="Votre choix actuel"></igx-badge>
                                        <img src="{{card.img}}" alt="">
                                       </igx-card-media>
                                    </div>
                                </div>
                                    
                                    </igx-card>
                                </div>
                    </div>
                    
                <div class="col-md-12 bg-light text-right">
                    <button mat-button matStepperPrevious class="backk">Précédent</button>
                    <button mat-button matStepperNext class="next">Suivant</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Salle</ng-template>
                <h2 class="sample-step-title">Choisissez la Salle</h2>
                <div class="card-wrapper">
                    <div class="row">
                                
                        <igx-card *ngFor="let card of cards3" (click)="selectCard2(card)"
                            [ngClass]="{'selected-card': selectedCard2 === card}" class="pic">
                            <div class="row1" >
                                <div class="card" >
                            <igx-card-media  >
                                <igx-badge *ngIf="selectedCard2 === card" value="Votre choix actuel"></igx-badge>
                                <img src="{{card.img}}" alt="">
                               </igx-card-media>
                            </div>
                        </div>
                            
                            </igx-card>
                        </div>
            </div>
        <div class="col-md-12 bg-light text-right">
            <button mat-button matStepperNext class="next">Suivant</button>
            <button mat-button matStepperPrevious class="backk">Précédent</button>

        </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup">
                <ng-template matStepLabel>Cameramen</ng-template>

                <h2 class="sample-step-title">Choisissez le CameraMan</h2>
                <div class="card-wrapper">
                    <div class="row">
                                
                        <igx-card *ngFor="let card of cards4" (click)="selectCard3(card)"
                            [ngClass]="{'selected-card': selectedCard3 === card}" class="pic">
                            <div class="row1" >
                                <div class="card" >
                            <igx-card-media  >
                                <igx-badge *ngIf="selectedCard3 === card" value="Votre choix actuel"></igx-badge>
                                <img src="{{card.img}}" alt="">
                               </igx-card-media>
                            </div>
                        </div>
                            
                            </igx-card>
                        </div>
            </div>
        <div class="col-md-12 bg-light text-right">
            <button mat-button matStepperNext class="next">Suivant</button>
            <button mat-button matStepperPrevious class="backk">Précédent</button>

        </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="fiveFormGroup">
            <form [formGroup]="fiveFormGroup">
                <ng-template matStepLabel>Tarte</ng-template>

                <h2 class="sample-step-title">Choisissez la Tarte</h2>
                <div class="card-wrapper">
                    <div class="row">
                                
                        <igx-card *ngFor="let card of cards5" (click)="selectCard4(card)"
                            [ngClass]="{'selected-card': selectedCard4 === card}" class="pic">
                            <div class="row1" >
                                <div class="card" >
                            <igx-card-media  >
                                <igx-badge *ngIf="selectedCard4 === card" value="Votre choix actuel"></igx-badge>
                                <img src="{{card.img}}" alt="">
                               </igx-card-media>
                            </div>
                        </div>
                            
                            </igx-card>
                        </div>
            </div>
        <div class="col-md-12 bg-light text-right">
            <button mat-button matStepperNext class="next">Suivant</button>
            <button mat-button matStepperPrevious class="backk">Précédent</button>

        </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="sixFormGroup">
            <form [formGroup]="sixFormGroup">
                <ng-template matStepLabel>Robe</ng-template>

                <h2 class="sample-step-title">Choisissez la Robe</h2>
                <div class="card-wrapper">
                    <div class="row">
                                
                        <igx-card *ngFor="let card of cards6" (click)="selectCard5(card)"
                            [ngClass]="{'selected-card': selectedCard5 === card}" class="pic">
                            <div class="row1" >
                                <div class="card" >
                            <igx-card-media  >
                                <igx-badge *ngIf="selectedCard5 === card" value="Votre choix actuel"></igx-badge>
                                <img src="{{card.img}}" alt="">
                               </igx-card-media>
                            </div>
                        </div>
                            
                            </igx-card>
                        </div>
            </div>
        <div class="col-md-12 bg-light text-right">
            <button  matStepperNext (click)="insertanniv()" type="submit" class="btn btn-success">Enregistrer</button>
            <button mat-button matStepperPrevious class="backk">Précédent</button>

        </div>

            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>Valider votre Réservation.</p>
            <div class="col-md-12 bg-light text-right">
                <button mat-button mat-raised-button class="btn btn-primary" id="valider" type="submit" (click)="resan()">Valider</button>
            </div>
        </mat-step>
    </mat-stepper>
    <div class="col-md-12 bg-light text-right">
        <button class="btn btn-danger btn float-right" type="submit" (click)="revoke()" id="cancel">Annuler</button>
    </div>
</div>
