<app-navbar></app-navbar>

<div class="row">
    <div class="col-sm-6" id="row1">
        <div class="card" style="width: 25rem;">
            <div class="d-flex justify-content-center">
            <img src="../../../../assets/Packs/Fichier 2.png" class="card-img-top" alt="Basic">

            <div class="card-body">
                <h5 class="card-title" style="font-family: serif;
                font-size: 25px;"><b>Packs Basic</b></h5>
                <p class="card-text">Packs Basic avec un prix basic</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="color:red">Prix 2000 Dh</li>

                </ul>

                <a href="/aniv/reserve/a/basic" class="btn btn">Reserver</a>
            </div></div>
        </div>
    </div>
    <div class="col-sm-6" id="row2">
        <div class="card" style="width: 25rem;">
            <div class="d-flex justify-content-center">
            <img src="../../../../assets/Packs/Fichier 3.png" class="card-img-top-right" alt="Pro">
            <div class="card-body">
                <h5 class="card-title" style="font-family: serif;
                font-size: 25px;"><b>Packs Premium</b></h5>
                <p class="card-text">Packs Premium avec un prix special</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="color:red">Prix 3000 Dh</li>

                </ul>

                <a href="/aniv/reserve/a/prum" class="btn btn">Reserver</a>
            </div></div>
        </div>
    </div>
</div>
