<app-sidebar>
    <div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#
                            <th>
                                <th scope="col">nom de fete
                                    <th>
                                        <th scope="col">
                                            <a href='admin/fetetype/add'>
                                                <button mat-mini-fab color="accent" aria-label="Add" class="btn btn-success btn-sm btn-block">
                                              <mat-icon>plus_one</mat-icon>
                                            </button>
                                            </a>
                                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ft of fetetypes">
                        <td scope="row">{{ft.id}}
                            <td>
                                <td>{{ft.nom_de_fete}}
                                    <td>

                                        <td><button mat-mini-fab color="primary" aria-label="delete icon" class="btn btn-danger btn" id="deletee" (click)="deleteFetetypeData(ft.id)">
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                            <a href="admin/fetetype/{{ft.id}}"> <button mat-mini-fab color="primary" aria-label="Edite" class="btn btn-warning btn mx-1">
                                          <mat-icon>menu</mat-icon>
                                        </button></a>
                                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-sidebar>
