<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><img src="..\..\..\assets\images\Hafalat.png" alt="Hafalat" width="30" height="30"> Administration</a>
    <a class="navbar-brand" routerLink="admin/clients">Client</a>
    <a class="navbar-brand" routerLink="admin">Reservation</a>
    <a class="navbar-brand" routerLink="admin/orchestres">Orchestre</a>
    <a class="navbar-brand" routerLink="">Package</a>
    <!--<a class="navbar-brand" routerLink="">Fetetype</a>
    <a class="navbar-brand" routerLink="">Mariage</a>
    <a class="navbar-brand" routerLink="">Anniversaire</a>
    <a class="navbar-brand" routerLink="">Fete de naissance</a>
    <a class="navbar-brand" routerLink="">Funeraire</a>
    <a class="navbar-brand" routerLink="">Cameramen</a>
    <a class="navbar-brand" routerLink="">Hotel</a>
    <a class="navbar-brand" routerLink="">Lebsa</a>
    <a class="navbar-brand" routerLink="">Ziana</a>
    <a class="navbar-brand" routerLink="">Voiture</a>
    <a class="navbar-brand" routerLink="">Traiteur</a>
    <a class="navbar-brand" routerLink="">Tarte</a>
    <a class="navbar-brand" routerLink="">Salle</a>
    <a class="navbar-brand" routerLink="">Diner</a>-->

    <div>
        <a class="navbar-brand" routerLink="login">Login</a>
        <!--<a class="navbar-brand" href="#">Logout</a>-->
        <a class="navbar-brand" routerLink="profile">Profile</a>
    </div>

</nav>
