.header {
    padding: 20px;
    text-align: center;
    background: #a97c50;
    color: white;
    font-size: 50px;
    border: 5px solid #ffffff;
    font-family: serif;
}

.tab {
    font-size: 25px;
    font-family: serif;
    width: auto;
    height: auto;
    padding: 30px;
}

.se {
    margin-left: 150px;
    margin-right: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fw-100 {
    width: 15%;
}

#pills-home {
    margin-left: 100px;
    /* display: flex;
    justify-content: center;
    padding: 30px; */
}

.nav-link {
    color: #a97c50;
}
@media only screen and (max-width: 758px) {
    .tab {
        font-size: 18px;

       
    }#pills-home {
        width: 100%;
        margin-left: 5px;

    }
    .bg-image{
  width: 44%;
    }
    .se{
        display:table-cell;
        padding-left: 110px;
    }
    

}