<div class="header">

    <p>A Propos</p>
</div>
<div class="tab">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Qui Somme Nous ?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">NOS PARTENAIRES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contactez-nous</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">HAFALAT.ma est un site web de réservation de fête en ligne créé en 2022.<br><br> MARIAGE, FUNÉRAILLES, BAPTÊME ou événement spéciaux, on s’occupe de tout ça,<br><br> il suffit d’exprimer votre besoin et on est là pour y répondre.<br><br></div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            <section class="raw">
                <div class="se">


                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <a href="#!"><img src="../../../assets/Hafalat/Hafalat/NOS PARTENAIRES/1.jpg" class="w-1000" />

                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <a href="#!"> <img src="../../../assets/Hafalat/Hafalat/NOS PARTENAIRES/2.jpg" class="w-1000" />

                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <a href="#!"><img src="../../../assets/Hafalat/Hafalat/NOS PARTENAIRES/3.jpg" class="w-1000" />

                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                            <a href=""><img src="../../../assets/Hafalat/Hafalat/NOS PARTENAIRES/4.jpg" class="w-100">

                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <span class="justify-content-center">
          Email : Contact@hafalat.ma<br><br>

Téléphone : +212637263519<br><br>

Suivez nous :<br><br>
<img src="../../../assets/Hafalat/Hafalat/FOOTER/Facebook.png"  class="fw-100">
&nbsp;haffalate.com<br><br>
<img src="../../../assets/Hafalat/Hafalat/FOOTER/Instagram.png" class="fw-100">
&nbsp;@haffalate.com<br><br>
<img src="../../../assets/Hafalat/Hafalat/FOOTER/TikTok.png" class="fw-100">&nbsp;@haffalate.com<br><br>
        </span>

        </div>
    </div>
</div>
